#container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.status {
  width: 8rem;
  margin-right: 0.6rem;
  padding: 0.6rem;
  border: 0.2rem solid #000;
  border-radius: 0.4rem;
}
