.bar {
  display: block;
  width: 100%;
  height: 2rem;
  margin-bottom: 0.4rem;
  transition: width 0.2s;

  &.health {
    background-color: #b93848;
  }

  &.energy {
    background-color: #96a0c4;
  }

  &.monster {
    height: 1rem;
    background-color: green;
  }
}

.evade-bar {
  display: block;
  height: 1rem;
  background-color: orange;
}

.bar-container {
  margin: 0 8rem;
  background-color: grey;
}
