.bar {
  display: block;
  width: 100%;
  height: 2rem;
  margin-bottom: 0.4rem;
  transition: width 0.2s;

  &.health {
    background-color: #b93848;
  }

  &.energy {
    background-color: #96a0c4;
  }

  &.evade {
    height: 1rem;
    background-color: orange;
  }
}
