@keyframes fromLeft {
  from { left: -60%; }
  to { left: 0; }
}

@keyframes endLeft {
  from { left: -100%; }
  to { left: 0; }
}

@keyframes fromRight {
  from { right: -40%; }
  to { right: 0; }
}

.log-battle {
  position: relative;
  height: 8rem;
  margin: 0 4rem;
  overflow: hidden;

  svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.2rem;
    fill: #ccc;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
  }

  .log {
    display: inline-block;
    position: relative;
  }

  .action {
    width: 60%;
    left: -60%;
    text-align: left;
    animation: fromLeft 0.4s forwards;
  }

  .result {
    width: 40%;
    right: -40%;
    text-align: right;
    animation: fromRight 0.4s forwards;
    animation-delay: 0.4s;
  }

  .generic {
    width: 100%;
    left: -100%;
    text-align: left;
    animation: endLeft 0.4s forwards;
  }
}
