#board {
  width: 28rem;
}

.card {
  display: inline-block;
  margin: 0 0.6rem 0.6rem 0;
  cursor: pointer;
  color: #666;
  fill: #ccc;
  perspective: 1000;

  .flipper {
    position: relative;
    border: 0.2rem solid #000;
    border-radius: 0.4rem;
    transition: 0.6s;
    transform-style: preserve-3d;
  }

  &:hover .flipper {

  }

  &.selected .flipper {
    transform: rotateY(180deg);
  }

  &.taken {
    opacity: 0.1;
  }

  .front,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
  }

  .front {
    z-index: 2;
    transform: rotateY(0deg);
  }

  .back {
    transform: rotateY(180deg);
  }
}

.card,
.flipper,
.card svg {
  width: 4rem;
  height: 4rem;
}

.animations {
  position: absolute;
  top: 0;
  left: 0;
}
