@import 'variables';

#board {
  width: 27.6rem;
  transition: 1s;

  // Cards should have the pointer cursor.
  .card {
    cursor: pointer;

    // Hide cards that are matched or taken.
    &.taken, &.matched {
      visibility: hidden;
    }
  }

  // Dim the board a bit while matched cards do their thing.
  &.matched,
  &.battle, {
    opacity: 0.2;
  }

  &.dead {
    opacity: 0.1;
  }

  // Don't show the pointer cursor if the board is locked?
  &.matching .card,
  &.matched .card,
  &.battle .card,
  &.dead .card {
    cursor: default;
  }
}

.card {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  margin: 0 0.6rem 0.6rem 0;
  color: #666;
  fill: $color-cream;
  perspective: 1000;

  .flipper {
    position: relative;
    width: 100%;
    height: 100%;
    border: 0.2rem solid $color-cream;
    border-radius: 0.4rem;
    transition: transform 0.6s, border-color 0.8s;
    transform-style: preserve-3d;
    background-color: $color-darkbrown;
  }

  &:hover .flipper {

  }

  &.matching {

    .flipper {
      transform: rotateY(180deg);
    }

    &.treasure .flipper {
      border-color: gold;
    }

    &.trap .flipper {
      border-color: #93602d;
    }

    &.food .flipper {
      border-color: #6bc26f;
    }

    &.monster .flipper {
      border-color: #ee3830;
    }

    &.weapon .flipper {
      border-color: #78cfe5;
    }

    &.armor .flipper {
      border-color: #e1a339;
    }

    &.magic .flipper {
      border-color: #e828bf;
    }
  }

  .front,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .front {
    z-index: 2;
    transform: rotateY(0deg);
  }

  .back {
    transform: rotateY(180deg);
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.animations {
  position: absolute;
  top: 0;
  left: 0;

  .card {
    position: absolute;
  }

  .outcome {

    .card {
      transform: scale(1.5);
      border: 0.2rem solid $color-cream;
      border-radius: 0.4rem;
      background-color: $color-darkbrown;
    }

    .info {
      position: absolute;
      text-align: center;
    }

    &.treasure {
      color: gold;
    }
  }

  .results {
    display: none;
  }

  .dead {
    position: absolute;
    text-align: center;
    color: red;
  }

}


