@import 'variables';

#inventory {

  p {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  svg {
    width: 2rem;
    height: 2rem;
    fill: $color-cream;
  }

  button {
    width: 100%;
    padding: 0;
    border: none;
    background: none;
    color: $color-cream;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: $color-hover;
    }
  }
}
