@import 'variables';

#inventory {

  p {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  li {
    position: relative;
    transition: border-left 0.2s;
  }

  svg {
    width: 2rem;
    height: 2rem;
    fill: $color-cream;
  }

  button {
    width: 100%;
    color: $color-cream;
    text-align: left;
    transition: background-color 0.2s, border-left 0.2s;

    &:hover {
      background-color: $color-hover;
    }
  }

  .selected button {
    border-left: 0.8em solid $color-cream;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
  }

  .equipped {
    border-left: 0.8em solid $color-cream;
    border-bottom-left-radius: 0.6em;
    &::after {
      content: 'eq';
      position: absolute;
      top: 0;
      left: -1.2em;
      font-size: 0.6em;
      color: $color-darkbrown;
    }
  }
}
