@import 'app';
@import 'board';
@import 'inventory';
@import 'bar';
@import 'battle';
@import 'options';
@import 'variables';

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #fff;
  background-color: $color-darkbrown;
  font-family: Georgia;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

h2, h3 {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: none;
  background: none;
  color: $color-cream;
  cursor: pointer;
}